@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Glacial'; 
    src: url('./static/fonts/GlacialIndifference-Regular.otf') format('opentype');
  }
@font-face {
    font-family: 'GlacialBold'; 
    src: url('./static/fonts/GlacialIndifference-Bold.otf') format('opentype');
  }